
<body style="background: #313D52">

        <div id="block" style="display:inline-block; background: rgb(224, 226, 121); background-repeat: no-repeat; width: 1000px; height: 600px; margin-left:140px;border-radius: 20px; border-style: solid; ; box-shadow: 2px -2px 2px">
        <h1 style="text-align: center; font-size:50px; text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);">Generative Models</h1>

<p style="margin:20px; margin-left: 100px; margin-right: 100px; margin-top:50px; text-align:justify; font-size: 25px">

    This app analizes and cleans dataset as a first step before performing machine learning. Data preprocessing is 
    very importan since most of the datasets in the world are dirty, having null values, categorical data or outliers.
    Cleaning all this makes data much more reliable and thus, better models will be created employing machine learning 
    and deep learning methodologies. Also, the dataset is splitted into train and test sets.
</p>
<p style="font-size: 50px; margin-left:350px; margin-top: 20px; text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4)";>Method Options</p>
<div style="margin-left:300px; font-size:30px; margin-top:50px">
<form method="post", action="">    
{{form_g.as_p}} 
<input type="button" value="Create" style="margin-left: 150px; font-size:100px; width: 100px; height: 100px">
</form>
</div>

</div>

</body>