{% load staticfiles %}
{% include "base_page.html" %}
<!DOCTYPE html>
	<div class="content">
			{% block content %}
	<h1 style="position: absolute"> “Is artificial intelligence less than our intelligence?” </h1>
        <h2 style="position: absolute">Rubén Cañadas Rodríguez</h2>
        <div class="gen" style=" overflow: auto; display:inline-block; background: white; background-image: url('{% static 'images/generative.svg'%}'); background-size: 250px 130px; background-repeat: no-repeat; width: 300px; height: 300px; margin: 20px; margin-left: 140px; border-radius: 50px; border-style: solid; background-position: bottom; box-shadow: 2px -2px 2px">
            <p href="#" style="text-decoration: none; color:black; margin: 0px; margin-bottom: -20px; margin-left: 100px; font-weight: bold; font-size:15px; margin-top:10px">Generative models</p><br>
            <p style="font-size: 15px; margin: 15px">This tutorial explains a very particular generative method called variational autoencoder. It uses a encoder-decoder architecture in order to find a continous representation of the distribution so as to create de novo properties</p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="apps/generative.html"style="text-decoration: none; color:black; margin-left: 120px; font-weight: bold; font-size: 20px">Use</a>
        </div>
        <div class="prep" style="overflow: auto;display:inline-block; background: white; background-image: url('{% static 'images/data_cleaning.png'%}'); background-size: 200px 120px; background-repeat: no-repeat; width: 300px; height: 300px; margin: 20px; border-radius: 50px; border-style: solid; background-position: 60px 165px; box-shadow: 2px -2px 2px">
            <p href="#" style="text-decoration: none; color:black; margin: 0px; margin-bottom: -20px; margin-left: 80px; font-weight: bold; font-size:15px; margin-top:10px">Data preprocessing</p><br>
            <p style="font-size: 15px; margin: 15px">This tutorial explains a very particular generative method called variational autoencoder. It uses a encoder-decoder architecture in order to find a continous representation of the distribution so as to create de novo properties</p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="apps/preprocessing.html"style="text-decoration: none; color:black; margin-left: 120px; font-weight: bold; font-size: 20px">Use</a>
        </div>
        <div class="feat" style="overflow: auto;display:inline-block; background: white; background-image: url('{% static 'images/feature.png'%}'); background-size: 120px 100px; background-repeat: no-repeat; width: 300px; height: 300px; margin: 20px; border-radius: 50px; border-style: solid; background-position: 100px 180px; box-shadow: 2px -2px 2px">
            <p href="#" style="text-decoration: none; color:black; margin 0px; margin-bottom: -20px; margin-left: 80px; font-weight: bold; font-size:15px; margin-top:10px">Feature engineering</p><br>
            <p style="font-size: 15px; margin: 15px">This tutorial explains a very particular generative method called variational autoencoder. It uses a encoder-decoder architecture in order to find a continous representation of the distribution so as to create de novo properties</p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="#"style="text-decoration: none; color:black; margin-left: 120px; font-weight: bold; font-size: 20px">Use</a>
        </div>
</div>
<!--<div class="lema"><p>Read, Learn and Code!</p></div>-->
{% endblock %}
</body>
<script>
    document.getElementById("apps_button").style.color = "orange";
</script>
<style>
div.gen{transition: .4s}
div.gen:hover{transform: scale(1.5)}
div.prep{transition: .4s}
div.prep:hover{transform: scale(1.5)}
div.feat{transition: .4s}
div.feat:hover{transform: scale(1.5)}

</style>