{% load staticfiles %}
<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>


	<header>
		<nav class="navegacion">
			
			<ul class="menu">
				<li><a id ="home_button" href="index.html">Home</a></li>
				
				<li><a id="tutorials_button" href="tutorials.html">Tutorials</a></li>
	
					<li><a id="apps_button" href='apps.html'>Apps</a></li>

				<li><a id="blogs_button" href="blogs.html">Blogs</a></li>
				<li><a id="about_button" href="about_me.html">About me</a></li>
				<li><a id="contact_button" href="contact.html">Contact</a></li>
			</ul>

  
		</nav>

    </header>
</body>

