
{% include "base_page.html" %}
{% load staticfiles %}
<!DOCTYPE html>
	<div class="content">
			{% block content %}
	<h1> “Is artificial intelligence less than our intelligence?” </h1>
        <h2>Rubén Cañadas Rodríguez</h2>
        <div class="qm" style="overflow:auto; display:inline-block; background: white; background-image: url('{% static 'images/quantum_clf.jpg'%}'); background-size: 250px 110px; background-repeat: no-repeat; width: 25%; height:45vh; margin: 2%; margin-left: 8%; border-radius: 15%; border-style: solid; background-position: bottom; box-shadow: 2px -2px 2px">
            <p href="#"  style="text-decoration: none; color:black; margin: -10px; margin-bottom: -20px; margin-left: 50px; font-weight: bold; font-size:15px; margin-top:10px">What is a quantum classifier?</p><br>
            <p style="font-size: 15px; margin: 15px">Quantum machine learning is an emerging technology which  takes advantage of quantum properties in high dimensional spaces so as to accelerate some types
            of machine learning methods.
            <br>
            
            </p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="blogs/quantum_classifier.html"style="text-decoration: none; color:black; margin-left: 120px; font-weight: bold; font-size: 20px">Learn</a>
        </div>
        <div class="ai" style="overflow: auto; display:inline-block; background: white; background-image: url('{% static 'images/ai.png'%}'); background-size: 150px 110px; background-repeat: no-repeat; width: 25%; height: 45vh; margin: 2%; border-radius: 15%; border-style: solid; background-position: 80px 180px; box-shadow: 2px -2px 2px">
            <p href="#" style="text-decoration: none; color:black; margin: -10px; margin-bottom: -25px; margin-left: 50px; font-weight: bold; font-size:15px; margin-top:10px">What is atificial intelligence?</p><br>
            <p style="font-size: 15px; margin: 15px">This tutorial explains a very particular generative method called variational autoencoder. It uses a encoder-decoder architecture in order to find a continous representation of the distribution so as to create de novo properties</p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="#" style="text-decoration: none; color:black; margin-left: 120px; font-weight: bold; font-size: 20px">Learn</a>
        </div>
        <div class="data"style="overflow: auto; display:inline-block; background: white; background-image: url('{% static 'images/data.png'%}'); background-size: 100px 110px; background-repeat: no-repeat; width: 25%; height: 45vh; margin: 2%; border-radius: 15%; border-style: solid; background-position: 110px 180px; box-shadow: 2px -2px 2px">
            <p href="#" style="text-decoration: none; color:black; margin: -10px; margin-bottom: -25px; margin-left: 60px; font-weight: bold; font-size:15px; margin-top:10px">What is data modelling?</p><br>
            <p style="font-size: 15px; margin: 15px">This tutorial explains a very particular generative method called variational autoencoder. It uses a encoder-decoder architecture in order to find a continous representation of the distribution so as to create de novo properties</p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="#"style="text-decoration: none; color:black; margin-left: 120px; font-weight: bold; font-size: 20px">Learn</a>
        </div>

</div>
<!--<div class="lema"><p>Read, Learn and Code!</p></div>-->
{% endblock %}
</body>
<script>
	document.getElementById("blogs_button").style.color = "orange";
</script>
<!--Defining a zoom in when the user hovers over the models (position: relative is needed)!-->
<style>
    div.qm{transition: .4s}
    div.qm:hover{transform: scale(1.5); z-index: 10;}
    div.ai{transition: .4s}
    div.ai:hover{transform: scale(1.5); z-index: 10;}
    div.data{transition: .4s}
    div.data:hover{transform: scale(1.5); z-index: 10;}
</style>