
{% include "base_page.html" %}
{% load staticfiles %}
<!DOCTYPE html>
	<div class="content">
			{% block content %}
	<!--<h1 style="margin: 1vw"> “Is artificial intelligence less than our intelligence?” </h1>
        <h2 style="margin: 0.1vw; margin-left:2.2vw; margin-right: 2.2vw">Rubén Cañadas Rodríguez</h2>-->
        <div class="qm" style="overflow:auto; display:inline-block; background: white; background-image: url('{% static 'images/quantum_clf.jpg'%}'); background-size: 15vw 7vw; background-repeat: no-repeat; width: 25vw; height:25vw; margin: 1vw; margin-left: 10vw; margin-top: 5vw;  border-radius: 5vw; border-style: solid; background-position: 5vw 16vw; box-shadow: 2px -2px 2px">
            <p href="#"  style="text-decoration: none; color:black; margin: 1vw; margin-left: 4vw; font-weight: bold; font-size:1.4vw; margin-top:1vw">Quantum computing and AI</p><br>
            <p style="font-size: 1.2vw; line-height: 1.5; text-align: justify; margin: 1vw; margin-top: -2vw; text-align: justify; ">Quantum machine learning is an emerging technology which  takes advantage of quantum properties in high dimensional spaces so as to accelerate some types
            of machine learning methods.
            <br>
            
            </p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="blogs/quantum_classifier.html"style="text-decoration: none; color:black; margin-left: 10vw; padding:  0vw; font-weight: bold; font-size: 1.8vw">Learn</a>
        </div>

        <div class="ai" style="overflow: auto; display:inline-block; background: white; background-image: url('{% static 'images/ai.png'%}'); background-size: 8vw 5vw; background-repeat: no-repeat; width: 25vw; height: 25vw; margin: 1vw; border-radius: 5vw; border-style: solid; background-position: 9vw 18vw; box-shadow: 2px -2px 2px">
            <p href="#" style="text-decoration: none; color:black; margin: 1vw; margin-left: 4vw; font-weight: bold; font-size:1.4vw; margin-top:1vw">What is atificial intelligence?</p><br>
            <p style="font-size: 1.2vw; line-height: 1.5;  margin: 1vw; margin-top: -2vw; text-align: justify">This tutorial explains a very particular generative method called variational autoencoder. It uses a encoder-decoder architecture in order to find a continous representation of the distribution so as to create de novo properties</p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="#" style="text-decoration: none; color:black; margin-left: 10vw; font-weight: bold; font-size: 1.8vw">Learn</a>
        </div>
        <div class="data"style="overflow: auto; display:inline-block; background: white; background-image: url('{% static 'images/data.png'%}'); background-size: 6vw 4vw; background-repeat: no-repeat; width: 25vw; height: 25vw; margin: 1vw; border-radius: 5vw; border-style: solid; background-position: 10vw 18.5vw; box-shadow: 2px -2px 2px">
            <p href="#" style="text-decoration: none; color:black; margin: 2%; margin-bottom: -5%; margin-left: 15%; font-weight: bold; font-size:1.4vw; margin-top:5%">What is data modelling?</p><br>
            <p style="font-size: 1.2vw; line-height: 1.5; margin: 1vw; margin-top: -0vw; text-align: justify">This tutorial explains a very particular generative method called variational autoencoder. It uses a encoder-decoder architecture in order to find a continous representation of the distribution so as to create de novo properties</p>
            <a target="_blank" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="#"style="text-decoration: none; color:black; margin-left: 10vw; font-weight: bold; font-size: 1.8vw">Learn</a>
        </div>

</div>
<!--<div class="lema"><p>Read, Learn and Code!</p></div>-->
{% endblock %}
</body>
<script>
	document.getElementById("blogs_button").style.color = "orange";
</script>
<!--Defining a zoom in when the user hovers over the models (position: relative is needed)!-->
<style>
    div.qm{transition: .4s}
    div.qm:hover{transform: scale(1.5); z-index: 10;}
    div.ai{transition: .4s}
    div.ai:hover{transform: scale(1.5); z-index: 10;}
    div.data{transition: .4s}
    div.data:hover{transform: scale(1.5); z-index: 10;}
</style>