
{% include "base_page.html" %}
{% load staticfiles %}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--<div class="lema"><p>Read, Learn and Code!</p></div>-->
<!--<h1> “Is artificial intelligence less than our intelligence?” </h1>
        <h2>Rubén Cañadas Rodríguez</h2>-->

        <div style="display:inline-block; background: white; background-repeat: no-repeat; width: 60vw; height: 40vw; margin-left:20vw;border-radius: 4vw; border-style: solid; margin-top: 3vw; margin-bottom: 1vw; box-shadow: 3px -3px 3px">
                <p style="font-size:2.8vw; margin: 4vw; margin-left: 10vw; font-weight: bold"><i class="fa fa-address-card-o" style="font-size:5vw"></i>
                    Rubén Cañadas Rodríguez</p>
                <p style="font-size:2.6vw; margin: 4vw; margin-left:15vw; margin-top: 4vw"> <a onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="https://github.com/rubencr14" target="_blank" style="color:black;text-decoration:none"><i class="fa fa-github" style="font-size:5vw"></i>
                    rubencr14</a></p>
                <p style="font-size:2.6vw; margin: 4vw; margin-left:15vw;"> <a onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="https://www.linkedin.com/in/rubencr14" target="_blank" style="color:black;text-decoration:none">
                    <i class="fa fa-linkedin-square" style="font-size:5vw; color:rgb(66, 105, 177)"></i>
                    /in/rubencr14
                </a></p>
                <p style="font-size:2.6vw; margin: 4vw; margin-left:15vw;"><a onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" href="mailto:rubencr14@gmail.com" style="color:black;text-decoration:none"><i class="fa fa-at" style="font-size:5vw"></i>
                    rubencr14@gmail.com</a>
                </a> </p>


            </div>

</body>
<script>
	document.getElementById("contact_button").style.color = "orange";
</script>