
{% include "base_page.html" %}
{% load staticfiles %}
	<div>
		<div style="font-size:4.5vw; font-weight: bold; text-align: center; margin: 1vw; margin-top: 5vw; margin-bottom: 2vw; text-shadow: 1px 1px 1px #919191,
        1px 8px 1px #919191,
        1px 8px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);">WELCOME TO MY WEBSITE!</div>
<div style="display:inline-block; background: white; background-repeat: no-repeat; text-align: justify; width: 80vw;  margin-left:10vw;border-radius: 5vw; border-style: solid; ; box-shadow: 2px -2px 2px">
<p style="margin: 3vw; font-size:2.6vw">My name is <strong><a onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';"  target="_blank" href="about_me.html" style="color:black; text-decoration: none">Rubén</a></strong> and I will be guiding you through the exciting
	world of Artificial Intelligence and Big Data! In this website you will find several sections: tutorials, apps and blogs.
	<br><br>In <strong><a onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" target="_blank" href="tutorials.html" style="color:black; text-decoration: none">tutorials</a></strong>,  artificial intelligence methods and big data technologies of different types will be explained and then translated into code. This section is thought
	for those who already have some experience in programming. Most of the tutorials will be coded in Python. However, 
	some Big Data technologies require other native languages such as Java or Scala. Therefore, some tutorials might be written
	in those other languages.<br>
	<br>
	In <strong><a onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" target="_blank" href="blogs.html" style="color:black; text-decoration: none">blogs</a></strong> section you will find more divulgative content about science with an special focus on artificial intelligence. There will be blogs explaining concepts
	of different levels, ranging from easy to expert. Also, code can be included in blogs to show how the explained concept
	is coded and used for different applications. <br><br>
	<strong><a onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" target="_blank" href="apps.html" style="color:black; text-decoration: none">Apps</a></strong> will contain several projects that I have been involved in so that all users can try them out in a web
	application format. In the future more sections will be added to the existing ones! 
	If you have any questions or suggestions do not hesitate to <strong><a onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" target="_blank" href="contact.html" style="color:black; text-decoration: none">contact</a></strong> me!
	</p>
</div>
</body>
<script>
	document.getElementById("home_button").style.color = "orange";
</script>
